<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type="style" src="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinceladas</title>
</head>
<body>
    <div class="left">
        <ul class="nav">
            <li style="list-style-type: none;"><button><a>Loja</a></button></li><br>
            <li style="list-style-type: none;"><button><a>Galeria</a></button></li><br>
            <li style="list-style-type: none;"><button><a>Contacto</a></button></li><br>
            <li style="list-style-type: none;"><button><a>Apoio Chat</a></button></li><br>
        </ul>
    </div>
</body>
</html>