<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinceladas</title>
</head>
<body>
    <!-- <div class="left">
        <ul class="nav">
            <li style="list-style-type: none;"><button><a>Loja</a></button></li><br>
            <li style="list-style-type: none;"><button><a>Galeria</a></button></li><br>
            <li style="list-style-type: none;"><button><a>Contacto</a></button></li><br>
            <li style="list-style-type: none;"><button><a>Apoio Chat</a></button></li><br>
        </ul>
    </div> -->

    <!-- <div>
        <div class="top">
            <div class="logo">Pinceladas</div>
            <button><a>Loja</a></button>
            
        </div>
    </div>  -->

    

    <header class="main-header">
        <a class="logo">Pinceladas</a>
        <ul class="main-nav">
            <li><a href="#">Galeria</a></li>
            <li><a href="#">Galeria</a></li>
            <li class="dropdown"><a href="#">Loja</a>
            <ul class="drop-nav">
                <li><a href="#">Encomendar</a></li>
                <li><a href="#">Ver Encomendas</a></li>
                <li class="flyout">
                    <a class="dropdown" href="#">Fotografias</a>
                    <ul class="flyout-nav">
                        <li><a href="#">Natureza</a></li>
                        <li><a href="#">Retratos</a></li>
                        <li><a href="#">Animais</a></li>         
                    </ul>
                </li>
                <li><a href="#">Writing</a></li>       
            </ul>
            </li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </header>  
  
    

</body>
</html>